<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="container">
      <input class="input" id="firstName" type="text" name="firstName" placeholder="이름" />
      <input class="input" id="lastName" type="text" name="lastName" placeholder="성" />
      <input class="input" id="age" type="text" name="age" placeholder="나이" />
      <button id="sendDataButton">전송</button>
      {{#each rows}}
      <form>
        <input type="text" name={{firstName}} value={{firstName}} id="firstNameUpdate">
        <input type="text" name={{lastName}} value={{lastName}} id="lastNameUpdate">
        <button id="updateUser" data-id={{id}}>업데이트</button>
        <button id="deleteUser" data-id={{id}}>삭제</button>
      </form>
      {{/each}}
    </div>

    <script src="main.js"></script>
  </body>
</html>